.header{
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    margin: 0.5em;
}
.bod{
    margin: 0.5em;
    display: flex;
    flex-grow: 1;
    border: 1px solid black;
    border-radius: 5px;

}
.side, .cont, .ad{
    border: 1px solid black;
    margin: 1em;
    

}
.foot{
    border: 1px solid black;
    border-radius: 5px;
    margin: 0.5em
}
.cont{
    
    flex-grow: 1;
}
.container{

    height: 90vh;
    display: flex;
    flex-direction: column;
    margin: 0.5em;
}
@media (max-width:600px){
    .side, .ad {
        display: none
    }
}