body{
    margin: 0;
}
ul{
    padding: 0;
    margin: 0;
}
ul li{
    position: relative;
    cursor: pointer;
    padding: 12px 8px 12px 40px;
    font-size: 18px;
    background-color: #eee;
    transition: 0.2s linear all;
    list-style-type: none;
}
ul li:nth-child(odd){
    background-color: #ddd;
}
ul li:hover{
    background: #ddd;
}
ul li.checked{
    background: #888;
    color:  #fff;
    text-decoration: line-through;
}
ul li.checked::before{
    content: '';
    position: absolute;
    top: 10px;
    left: 16px;
    height: 15px;
    border-color:red;
    border-style: solid;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    width: 7px;
}
.header{
    background: red;
    padding: 30px 40px;
    color: white;
    text-align: center;

}
input{
    flex:1;
    margin: 0;
    border:none;
    border-radius: 0;
    width: 75%;
    padding: 10px;
    font-size: 16px;
}

#addBtn{
    padding: 10px;
    width: 25%;
    background: #d9d9d9;
    color:#555;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
}
.group{
    display:flex;

}
.remove{
    float: right;
    color: white;
    background-color:red;
    padding: 4px;
    margin: 3px;

}
.remove:hover{
    background: black;
    color: aliceblue;
}
